@font-face {
    font-family: 'Antenna';
    src: url('Antenna-Regular.eot');
    src: url('Antenna-Regular.eot?#iefix') format('embedded-opentype'),
        url('Antenna-Regular.woff2') format('woff2'),
        url('Antenna-Regular.woff') format('woff'),
        url('Antenna-Regular.ttf') format('truetype'),
        url('Antenna-Regular.svg#Antenna-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Antenna';
    src: url('Antenna-Bold.eot');
    src: url('Antenna-Bold.eot?#iefix') format('embedded-opentype'),
        url('Antenna-Bold.woff2') format('woff2'),
        url('Antenna-Bold.woff') format('woff'),
        url('Antenna-Bold.ttf') format('truetype'),
        url('Antenna-Bold.svg#Antenna-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

