{% extends 'layout.njk' %}

{% set page_title = "¡Registrate en el programa de Pets at We Work!"%}}}
{% set page_description = "Registrarte en el programa para empezar a traer a tu mascota a We Work y disfrutar de beneficios exclusivos."%}}}

{% block content %}
    {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('')}}

    <article class="articulo_completo">
        <div class="container">
            <div class="header" style="background-image:url('img/article.jpg')"></div>
            <p class="articulo_fecha text">
                <span id="day">Miércoles</span><span id="date">15/01/2020</span></p>
            <h2 class="titulos_secciones articulo_titulo ">¡Registrate en el programa de Pets at We Work!
            </h2>
            <p class="articulo_copete">Registrarte en el programa para empezar a traer a tu mascota a We Work y disfrutar de beneficios exclusivos.
            </p>
            <div class="texto">
                <h4>¿Sabías que tu mascota puede venir a trabajar con vos?</h4>
                <p>Las oficinas de We Work son Pet Friendly, así que estamos esperando a todos sus amigos de cuatro patas. Escribinos por Whatsapp al 1569324100 para registrate en el programa. Con este, vas a poder acceder a beneficios y enterarte de todas los eventos y sorpresas que tenemos preparadas.</p>
                <h4>¿Por qué traer a las mascotas al trabajo?</h4>
                <ul>
                    <li>- Balance saludable entre vida laboral y vida personal</li>
                    <li>- Elimina el estrés</li>
                    <li>- Mayor colaboración y comportamiento ético</li>
                    <li>- Mayor interacción entre los colaboradores</li>
                    <li>- Mayor satisfacción laboral 8 de cada 10 empleados que trabajan en un ambiente pet friendly maniﬁestan que traer sus mascotas al trabajo los hace más felices, relajados y sociables.</li>
                </ul>
                <h4>
                    8 de cada 10 empleados que trabajan en un ambiente pet friendly maniﬁestan que traer sus mascotas al trabajo los hace más felices, relajados y sociables.</h4>
            </div>

            <button class="back" onclick="goBack()">Volver</button>
        </div>
    </article>
    <section class="novedades bg-grey-l">
        <div class="container">
            <h2 class="titulos_secciones">Seguir leyendo</h2>
            <div id="siema-news">

                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article.jpg')"></div>
                        <div class="body">
                            <a href="articulo.html">
                                <h4>¡Registrate en el programa de Pets At We Work!
                                </h4>
                            </a>
                            <p class="text">Registrate en el programa para empezar a traer a tu mascota a WeWork y disfrutar de beneficios exclusivos.</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article2.jpg')"></div>
                        <div class="body" >
                            <a href="articulo.html">
                                <h4>¡Vení al After Dog Office el jueves 30 de enero!</h4>
                            </a>
                            <p class="text">El jueves 30 de enero nos juntamos en la terraza para festejar el inicio del programa. Los esperamos con bebidas, juegos y muchas sorpresas. ¡Vení con tu perro!</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article3.jpg')"></div>
                        <div class="body">
                            <a href="articulo.html">
                                <h4>Comprá alimento con descuento</h4>
                            </a>
                            <p class="text">Registrate en el programa y accedé a un 30% de descuento en la sucursal de Natural Life de Vicente López.</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </section>

{% endblock content %}

{% block scripts %}
    <script type="text/javascript">
        slideNews();
    </script>
{% endblock %}