{% extends 'layout.njk' %}
{% set page_title = "Purina at Work | Beneficios"%}}}
{% set page_description = "Disfrutá los beneficios exclusivos del programa PETS AT WORK"%}}}

{% block header %}
    {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('beneficios')}}
{% endblock %}

{% block content %}
    <section class="beneficios">
        <div class="container">
        <h2 class="titulos_secciones">Beneficios</h2>
            <div class="destacado destacado"> 
                <img src="img/paw.svg" alt="">  
                <p >
                    Registrarte en el programa para empezar a traer a tu mascota a
                    <strong>
                        We Work</strong>
                    y disfrutar de
                    <strong>
                        beneficios exclusivos</strong>.
                </p>
            </div>

            <div class="items">
                <div class="beneficio_item">
                    <img src="img/beneficio_01.jpg" alt="">
                    <div>
                        <h4>Welcome Kit</h4>
                        <p>Este tiene todo lo necesario para que tu mascota disfrute de acompañarte mientras trabajás.
                            <strong>
                                Incluye: comedero, correa, juguete y alimento húmedo</strong>.</p>
                    </div>
                </div>
                <div class="beneficio_item">
                    <img src="img/beneficio_02.jpg" alt="">
                    <div>
                        <h4>Descuento Natural Life</h4>
                        <p>Presentando la credencial del programa en cualquier tienda de Natural Life, vas obtener un
                            <strong>20% de descuento</strong>
                            en la compra de alimento de las marcas de Purina.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}