{% extends 'layout.njk' %}
{% set page_title = "Purina at Work | Contacto"%}}}
{% set page_description = "Contactate con nostros para concoer más sobre el programa PETS AT WORK"%}}}

{% block header %}
    {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('contacto')}}
{% endblock %}

{% block content %}
    <section class="contacto bg-grey-l">

        <div class="container">
            <h2 class="titulos_secciones">Formulario de Contacto</h2>
            <form action="POST" class="formulario">
                <div class="campos">

                    <div class="input-group">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div class="input-group">
                        <label for="last_name">Apellido</label>
                        <input type="text" name="last_name" id="last_name">
                    </div>
                    <div class="input-group">
                        <label for="DNI">DNI</label>
                        <input type="text" name="DNI" id="DNI">
                    </div>
                    <div class="input-group">
                        <label for="phone">Teléfono</label>
                        <input type="text" name="phone" id="phone">
                    </div>
                    <div class="input-group">
                        <label for="adress">Dirección</label>
                        <input type="text" name="adress" id="adress">
                    </div>
                    <div class="input-group">
                        <label for="mail">Mail</label>
                        <input type="mail" name="mail" id="mail">
                    </div>
                    <div class="select">
                        <div class="input-group">
                            <label for="mascota">Mascota</label>
                            <select name="mascota" id="mascota" class="selector">
                                <option value="">Perro</option>
                                <option value="">Gato</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <label for="edad">Fecha de nacimiento</label>
                            <input type="text" class="tail-datetime-field" name="edad" id="edad">
                        </div>

                    </div>
                    <div class="input-group">
                        <label for="raza">Raza</label>

                        <select name="raza" id="raza"></select>
                    </div>
                    <div class="input-group text-area">
                        <label for="consulta">Consulta</label>
                        <textarea name="consulta" id="consulta" cols="30" rows="5"></textarea>
                    </div>

                    <div class="checks">
                        <div class="">
                            <div class="input-group">
                                <label for="terms">Acepto las políticas de privacidad</label>
                                <input type="checkbox" name="terms" id="terms">
                            </div>
                            <div class="input-group">
                                <label for="correo">Acepto recibir correos del programa</label>
                                <input type="checkbox" name="correo" id="correo">
                            </div>
                        </div>

                        <button type="submit" class="btn btn_solid">Enviar</button>
                    </div>
                </div>
                <div class="dog">
                    <img src="img/bulldog.png" alt="">
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            tail.DateTime(".tail-datetime-field", {
                dateFormat: "dd-mm-YYY",
                locale: "es_MX",
                timeFormat: false
            });
        });
    </script>
{% endblock scripts %}