<!-- index.nunjucks -->
{% extends "layout.njk"%}

{% set page_title = "Purina at Work | Home"%}}}
{% set page_description = "Sumate al programa PETS AT WORK"%}}}

{% block header %}
    {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('home')}}
{% endblock %}
{% block content %}

    <section class="header">
        <div id="siema-banners">
            <div style="background-image:url('img/banner-purina-bn.jpg')">
                <div class="container">
                    <h1 class="titulo-banners">
                        <strong>¡Sumate</strong>
                        al programa
                        <strong>
                            <span>PETS</span></strong>
                        AT WE WORK!</h1>
                </div>

            </div>
            <div style="background-image:url('img/article2.jpg')">
                <div class="container">
                    <h1 class="titulo-banners">
                       ¡Vení al After Dog Office!
                </div>

            </div>
            <div style="background-image:url('img/article3.jpg')">
                <div class="container">
                    <h1 class="titulo-banners">
                        ¡Comprá alimento con descuento!
                </div>

            </div>
            
        </div>
        <div class="container">
            <button id="next" class="nav-siema"><img src="img/next.svg" alt=""></button>
            <button id="prev" class="nav-siema"><img src="img/prev.svg" alt=""></button>
        </div>

    </section>
    <section class="programa">
        <div class="container">

            <div class="row">
                <div class="background" style="background-image:url('img/programa.jpg')"></div>
                <div class="contenido">
                    <h2 class="titulos_secciones">Sobre el programa</h2>

                    <p class="text">Estamos trabajamos para enriquecer la vida de las mascotas y las personas que las aman. ¡Porque estamos convencidos que cuando están juntos, la vida es mejor! Especialmente en el trabajo, las mascotas colaboran a reducir el estrés, incentivan la socialización y logran movilizarnos. Es exactamente por eso que estamos llevando a cabo el programa y los invitamos a unirse a nosotros.</p>
                    <a href="sobre-el-programa.html" class="btn_solid">Ver más</a>
                </div>
            </div>

        </div>
    </section>
    <section class="novedades bg-grey-l">
        <div class="container" id="container">
            <h2 class="titulos_secciones">Novedades</h2>
            <div id="siema-news">

                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article.jpg')"></div>
                        <div class="body">
                            <a href="articulo.html">
                                <h4>¡Registrate en el programa de Pets At We Work!
                                </h4>
                            </a>
                            <p class="text">Registrate en el programa para empezar a traer a tu mascota a WeWork y disfrutar de beneficios exclusivos.</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article2.jpg')"></div>
                        <div class="body" >
                            <a href="articulo.html">
                                <h4>¡Vení al After Dog Office el jueves 30 de enero!</h4>
                            </a>
                            <p class="text">El jueves 30 de enero nos juntamos en la terraza para festejar el inicio del programa. Los esperamos con bebidas, juegos y muchas sorpresas. ¡Vení con tu perro!</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article3.jpg')"></div>
                        <div class="body">
                            <a href="articulo.html">
                                <h4>Comprá alimento con descuento</h4>
                            </a>
                            <p class="text">Registrate en el programa y accedé a un 30% de descuento en la sucursal de Natural Life de Vicente López.</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>

            </div>
            <a href="novedades.html" class="btn_solid">Ver novedades</a>
        </div>
    </section>
    <section class="beneficios">
        <div class="container">
            <h2 class="titulos_secciones">Beneficios</h2>
            <div class="accesos">
                <a class="big_button btn_outline" href="beneficios.html">
                    <svg viewbox="0 0 73 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.9466 36.0601C21.9466 34.8551 20.9607 33.8691 19.7556 33.8691H2.19101C0.985954 33.8691 0 34.8551 0 36.0601C0 37.2652 0.985954 38.2512 2.19101 38.2512H19.7556C20.9607 38.2512 21.9466 37.2652 21.9466 36.0601Z"/>
                        <path d="M69.9297 33.8691H52.3651C51.16 33.8691 50.1741 34.8551 50.1741 36.0601C50.1741 37.2652 51.16 38.2512 52.3651 38.2512H69.9297C71.1347 38.2512 72.1207 37.2652 72.1207 36.0601C72.1207 34.8551 71.153 33.8691 69.9297 33.8691Z"/>
                        <path d="M36.0604 21.9466C37.2655 21.9466 38.2514 20.9607 38.2514 19.7556V2.19101C38.2514 0.985954 37.2655 0 36.0604 0C34.8553 0 33.8694 0.985954 33.8694 2.19101V19.7556C33.8694 20.9607 34.8553 21.9466 36.0604 21.9466Z"/>
                        <path d="M47.5814 26.7307C48.1474 26.7307 48.6952 26.5116 49.1334 26.0917L61.5674 13.6577C62.4255 12.7995 62.4255 11.4119 61.5674 10.5538C60.7092 9.69562 59.3216 9.69562 58.4634 10.5538L46.0295 22.9877C45.1713 23.8459 45.1713 25.2335 46.0295 26.0917C46.4677 26.5116 47.0337 26.7307 47.5814 26.7307Z"/>
                        <path d="M22.9873 26.0917C23.4072 26.5116 23.9732 26.7307 24.5392 26.7307C25.1052 26.7307 25.653 26.5116 26.0912 26.0917C26.9493 25.2335 26.9493 23.8459 26.0912 22.9877L13.6572 10.5538C12.7991 9.69562 11.4114 9.69562 10.5533 10.5538C9.69513 11.4119 9.69513 12.7995 10.5533 13.6577L22.9873 26.0917Z"/>
                        <path d="M62.389 49.8821C60.7275 48.4579 58.6278 47.6728 56.4916 47.6728H54.5014H47.3441H43.948V38.8175C43.948 34.5815 42.6882 31.4959 40.1868 29.6518C36.243 26.7669 30.8933 28.3919 30.6559 28.465C29.743 28.7571 29.1222 29.597 29.1222 30.5464V41.2276C29.1222 44.4776 27.5703 47.2346 24.4846 49.4439C22.1475 51.1237 19.7557 51.8905 19.4453 51.9818L19.2262 52.0366C18.4045 51.1054 17.1995 50.5211 15.8484 50.5211H7.52252C5.03938 50.5211 3.0127 52.5478 3.0127 55.031V82.3455C3.0127 84.8287 5.03938 86.8554 7.52252 86.8554H15.8849C16.9804 86.8554 18.0028 86.4537 18.7697 85.7964C20.4495 87.4396 22.7318 88.4439 25.1967 88.4439H33.5042H34.3624H51.361C53.9902 88.4439 56.309 87.8048 58.0801 86.618C60.3441 85.0843 61.75 82.6559 62.1517 79.552L65.5295 58.5548C66.059 55.3048 64.8539 51.9818 62.389 49.8821ZM16.0127 82.3455C16.0127 82.4186 15.9579 82.4734 15.8849 82.4734H7.52252C7.44949 82.4734 7.39471 82.4186 7.39471 82.3455V55.031C7.39471 54.9579 7.44949 54.9032 7.52252 54.9032H15.8849C15.9579 54.9032 16.0127 54.9579 16.0127 55.031V82.3455ZM61.2022 57.8793L57.8244 78.913C57.8244 78.9312 57.8244 78.9677 57.8062 79.0043C57.6601 80.2641 57.1854 84.0801 51.361 84.0801H34.3624H33.5042H25.1967C22.8596 84.0801 20.8146 82.3273 20.4495 80.0085C20.4312 79.9172 20.413 79.8259 20.3947 79.7528V56.2725L20.5225 56.236C20.559 56.236 20.5773 56.2178 20.6138 56.2178C20.7416 56.1812 23.8455 55.3048 26.9312 53.0956C31.2219 50.0464 33.5042 45.9383 33.5042 41.2276V32.354C34.7093 32.2262 36.3708 32.281 37.5941 33.1756C38.9087 34.1433 39.566 36.0422 39.566 38.7992V49.8456C39.566 51.0506 40.552 52.0366 41.757 52.0366H47.3441H54.5014H56.4916C57.5871 52.0366 58.6643 52.4565 59.5407 53.1869C60.8553 54.3189 61.4761 56.1082 61.2022 57.8793Z"/>
                    </svg>
                    <h3>Beneficios</h3>
                    <p>Conocé todos los beneficios a los que podés acceder con el programa
                    </p>
                    <span>
                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z"/>
                        </svg>
                    </span>
                </a>
                <a class="big_button btn_outline" href="mapa-pet-friendly.html">
                    <svg viewbox="0 0 61 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.5 73L8.93312 51.6187C4.66766 47.3898 1.76285 42.002 0.586035 36.1365C-0.590783 30.271 0.0132399 24.1913 2.32172 18.6661C4.63021 13.1409 8.53947 8.41846 13.5552 5.09593C18.5708 1.77339 24.4677 0 30.5 0C36.5323 0 42.4292 1.77339 47.4448 5.09593C52.4605 8.41846 56.3698 13.1409 58.6783 18.6661C60.9868 24.1913 61.5908 30.271 60.414 36.1365C59.2371 42.002 56.3323 47.3898 52.0669 51.6187L30.5 73ZM47.275 46.868C50.5924 43.5788 52.8514 39.3883 53.7666 34.8263C54.6817 30.2643 54.2118 25.5357 52.4162 21.2385C50.6207 16.9412 47.5801 13.2683 43.6791 10.6843C39.7781 8.10015 35.1917 6.7209 30.5 6.7209C25.8083 6.7209 21.2219 8.10015 17.3209 10.6843C13.4199 13.2683 10.3793 16.9412 8.58377 21.2385C6.78822 25.5357 6.3183 30.2643 7.23343 34.8263C8.14856 39.3883 10.4076 43.5788 13.725 46.868L30.5 63.4987L47.275 46.868ZM30.5 36.9568C28.7024 36.9568 26.9785 36.2488 25.7074 34.9887C24.4363 33.7286 23.7222 32.0194 23.7222 30.2373C23.7222 28.4552 24.4363 26.7461 25.7074 25.4859C26.9785 24.2258 28.7024 23.5179 30.5 23.5179C32.2976 23.5179 34.0215 24.2258 35.2926 25.4859C36.5637 26.7461 37.2778 28.4552 37.2778 30.2373C37.2778 32.0194 36.5637 33.7286 35.2926 34.9887C34.0215 36.2488 32.2976 36.9568 30.5 36.9568Z"/>
                    </svg>
                    <h3>Mapa Pet Friendly</h3>

                    <p>Mirá todos los locales pet friendly que hay cerca de la oficina
                    </p>
                    <span>
                        <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z"/>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </section>
    <section class="redes bg-grey-l">
        <div class="container">
            <h2 class="titulos_secciones">El programa en las redes</h2>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        slideHeader();
        slideNews();
    </script>

{% endblock %}