{% extends 'layout.njk' %}
{% set page_title = "Purina at Work | Mapa Pet Friendly"%}}}
{% set page_description = "Mapa Pet Friendly"%}}}

{% block header %}
    {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('mapa-pet-friendly')}}
{% endblock %}

{% block content %}
    <section class="mapa bg-grey-l">
        <div class="container">
            <h2 class="titulos_secciones">Mapa Pet Friendly</h2>
            <p class="text descripcion">Mirá todos los locales pet friendly qué hay cerca de la oficina para que tu mascota te pueda acompañar durante el día.</p>

            <div class="frame">
                <h3 class="subtitulos_secciones">¿Qué estas buscando?</h3>
                <div class="content">
                    <div class="todos">
                        <div class="filters">
                            <span class="active">
                                <svg viewbox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.6949 32.8428C21.7415 32.8428 19.3389 35.0795 19.3389 37.8287C19.3389 39.1342 20.1083 39.9137 21.3969 39.9137C21.9887 39.9137 22.6381 39.7632 23.2661 39.6178C23.7859 39.4975 24.3232 39.3729 24.6949 39.3729C25.0184 39.3729 25.529 39.4919 26.0227 39.607C26.6693 39.7578 27.338 39.9137 27.9548 39.9137C29.2673 39.9136 30.051 39.1342 30.051 37.8287C30.0509 35.0795 27.6483 32.8428 24.6949 32.8428ZM28.288 38.1491C28.2873 38.1496 28.2148 38.2016 27.9546 38.2016C27.5348 38.2016 26.9637 38.0684 26.4114 37.9396C25.7964 37.7961 25.2153 37.6607 24.6949 37.6607C24.1276 37.6607 23.4932 37.8076 22.8798 37.9497C22.3456 38.0736 21.793 38.2015 21.3969 38.2015C21.1771 38.2015 21.1047 38.1583 21.1035 38.1623C21.0997 38.1564 21.0509 38.0759 21.0509 37.8284C21.0509 36.0231 22.6856 34.5545 24.6949 34.5545C26.7043 34.5545 28.3389 36.0231 28.3389 37.8284C28.3389 38.0386 28.2999 38.134 28.288 38.1491Z"/>
                                    <path d="M22.0285 31.2084C22.0285 29.7015 20.9832 28.4756 19.6984 28.4756C18.4135 28.4756 17.3682 29.7015 17.3682 31.2084C17.3682 32.7152 18.4135 33.9411 19.6984 33.9411C20.9832 33.941 22.0285 32.7151 22.0285 31.2084ZM19.0803 31.2084C19.0803 30.6242 19.4067 30.1876 19.6985 30.1876C19.9903 30.1876 20.3166 30.6242 20.3166 31.2084C20.3166 31.7926 19.9903 32.2291 19.6985 32.2291C19.4066 32.229 19.0803 31.7925 19.0803 31.2084Z"/>
                                    <path d="M24.8496 32.2507C26.1344 32.2507 27.1797 31.0248 27.1797 29.5179C27.1797 28.0111 26.1344 26.7852 24.8496 26.7852C23.5648 26.7852 22.5195 28.0111 22.5195 29.5179C22.5195 31.0248 23.5648 32.2507 24.8496 32.2507ZM24.8496 28.4973C25.1414 28.4973 25.4677 28.9338 25.4677 29.518C25.4677 30.1022 25.1414 30.5388 24.8496 30.5388C24.5578 30.5388 24.2315 30.1022 24.2315 29.518C24.2315 28.9338 24.5578 28.4973 24.8496 28.4973Z"/>
                                    <path d="M30.0002 28.4756C28.7153 28.4756 27.6699 29.7015 27.6699 31.2084C27.6699 32.7152 28.7153 33.9411 30.0002 33.9411C31.2851 33.9411 32.3304 32.7152 32.3304 31.2084C32.3304 29.7015 31.2851 28.4756 30.0002 28.4756ZM30.0002 32.229C29.7084 32.229 29.3819 31.7925 29.3819 31.2083C29.3819 30.6241 29.7083 30.1875 30.0002 30.1875C30.2919 30.1875 30.6184 30.6241 30.6184 31.2083C30.6184 31.7925 30.2919 32.229 30.0002 32.229Z"/>
                                    <path d="M48.7186 17.0258L26.6674 0.535458C26.199 0.1853 25.641 0.000100707 25.0537 0.000100707L25.0425 0.000201414C25.0371 0.000100707 25.0322 0 25.0282 0L25.0108 0.00030212C25.0043 0.000100707 24.9981 0.000201414 24.9917 0.000201414L24.9726 0C24.9686 0 24.9636 0.000100707 24.9584 0.000201414L24.9472 0.000100707C24.3599 0.000100707 23.8019 0.1853 23.3335 0.535458L1.28234 17.0259C0.0911818 17.9166 -0.153435 19.6106 0.737216 20.8022L2.58478 23.2727C3.09164 23.9505 3.89981 24.3549 4.74675 24.3549C5.17687 24.3549 5.59178 24.2539 5.96823 24.0616V47.3021C5.96823 48.7897 7.17862 50 8.66626 50H41.3347C42.8224 50 44.0328 48.7897 44.0328 47.3021V24.0615C44.4092 24.2539 44.824 24.355 45.2542 24.355C45.2543 24.355 45.2542 24.355 45.2543 24.355C46.1012 24.355 46.9094 23.9503 47.4161 23.2727L49.2638 20.802C50.1543 19.6106 49.9098 17.9166 48.7186 17.0258ZM41.3347 48.288H8.66626C8.12255 48.288 7.68024 47.8457 7.68024 47.3021V22.831L25.0006 9.87883L42.3207 22.8309V47.3021C42.3207 47.8458 41.8783 48.288 41.3347 48.288ZM47.8926 19.7768L46.045 22.2474C45.8571 22.4988 45.5688 22.643 45.2541 22.643C45.0407 22.643 44.837 22.575 44.6651 22.4464L25.5132 8.12432C25.3612 8.01072 25.1809 7.95392 25.0006 7.95392C24.8203 7.95392 24.64 8.01072 24.488 8.12432L5.33579 22.4465C5.16388 22.575 4.96015 22.6429 4.74675 22.6429C4.43215 22.6429 4.14382 22.4987 3.9558 22.2473L2.10834 19.777C1.78285 19.3415 1.87218 18.7224 2.30754 18.3969L24.3588 1.90668C24.5289 1.77939 24.7323 1.71222 24.9564 1.71222C24.9565 1.71222 24.9565 1.71222 24.9567 1.71222C24.9632 1.71222 24.9697 1.71232 24.9762 1.71212L24.9936 1.71232C24.9986 1.71242 25.0037 1.71242 25.0074 1.71232L25.0269 1.71212C25.0365 1.71212 25.0463 1.71222 25.0537 1.71212C25.2685 1.71212 25.472 1.77939 25.6421 1.90668L47.6933 18.3968C48.1287 18.7224 48.2179 19.3415 47.8926 19.7768Z"/>
                                    <path d="M31.3382 20.9824C28.9108 20.9824 26.6529 21.9526 25.0004 23.6759C23.3479 21.9526 21.0899 20.9824 18.6626 20.9824C13.8107 20.9824 9.86328 24.9297 9.86328 29.7818C9.86328 32.0447 10.6672 34.3241 12.2528 36.557C13.4866 38.2946 15.1975 40.0105 17.3379 41.657C20.9462 44.4325 24.4998 46.0439 24.6494 46.1111C24.7608 46.1612 24.8806 46.1864 25.0004 46.1864C25.1059 46.1864 25.2116 46.167 25.3118 46.1278C25.4619 46.0692 29.0298 44.6612 32.65 41.9836C34.7981 40.3949 36.5149 38.6867 37.7528 36.9067C39.3352 34.6315 40.1375 32.2344 40.1375 29.7818C40.1375 24.9297 36.1902 20.9824 31.3382 20.9824ZM25.0225 44.3937C22.9279 43.3765 11.5753 37.5041 11.5753 29.7818C11.5753 25.8738 14.7546 22.6944 18.6626 22.6944C20.9027 22.6944 22.9638 23.7205 24.3178 25.5098C24.4796 25.7236 24.7322 25.8493 25.0004 25.8493C25.2686 25.8493 25.5212 25.7236 25.683 25.5098C27.0369 23.7205 29.0982 22.6944 31.3382 22.6944C35.2462 22.6944 38.4255 25.8738 38.4255 29.7818C38.4255 38.2276 27.1265 43.488 25.0225 44.3937Z"/>
                                </svg>
                            </span>
                            <span>
                                <svg viewbox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path d="M31.0112 8.75488C19.1213 8.75488 9.44824 18.4279 9.44824 30.3179C9.44824 42.2077 19.1213 51.8809 31.0112 51.8809C42.9012 51.8809 52.5741 42.2077 52.5741 30.3179C52.5743 18.4279 42.9012 8.75488 31.0112 8.75488ZM31.0112 50.3592C19.9604 50.3592 10.9701 41.3686 10.9701 30.318C10.9701 19.2673 19.9606 10.2768 31.0112 10.2768C42.0619 10.2768 51.0523 19.2673 51.0523 30.318C51.0524 41.3686 42.0621 50.3592 31.0112 50.3592Z"/>
                                        <path d="M31.011 16.8955C23.6095 16.8955 17.5879 22.9168 17.5879 30.3185C17.5879 37.7199 23.6094 43.7416 31.011 43.7416C38.4124 43.7416 44.4342 37.72 44.4342 30.3185C44.4342 22.9169 38.4126 16.8955 31.011 16.8955ZM31.011 42.2197C24.4485 42.2197 19.1097 36.8809 19.1097 30.3185C19.1097 23.7561 24.4486 18.4173 31.011 18.4173C37.5734 18.4173 42.9124 23.7562 42.9124 30.3185C42.9124 36.881 37.5734 42.2197 31.011 42.2197Z"/>
                                        <path d="M7.46752 8.22461C6.77889 8.22461 6.2186 8.7849 6.2186 9.47353V14.5421C6.2186 15.2091 6.00098 15.4195 5.96965 15.4327C5.8914 15.4141 5.66402 15.1403 5.66402 14.4669V9.47353C5.66402 8.7849 5.10373 8.22461 4.4151 8.22461C3.72609 8.22461 3.16554 8.7849 3.16554 9.47353V14.4482C3.16554 15.1364 2.94627 15.3822 2.88033 15.4212C2.7984 15.3729 2.61147 15.0868 2.61147 14.4482V9.47353C2.61147 8.7849 2.05105 8.22461 1.36217 8.22461C0.661998 8.22461 0 8.85972 0 9.53136V18.9703C0 20.5427 0.85451 22.0034 2.20527 22.7877V50.2016C2.20527 51.4203 3.19636 52.4119 4.41472 52.4119C5.63269 52.4119 6.62379 51.4201 6.62379 50.2014V22.7877C7.9748 22.0036 8.82956 20.543 8.82956 18.9702V9.47353C8.82956 8.73747 8.11176 8.22461 7.46752 8.22461ZM7.68818 18.9702C7.68818 20.2269 6.95073 21.3877 5.80935 21.9273L5.48254 22.0819V50.2011C5.48254 50.7906 5.00367 51.2702 4.41484 51.2702C3.82589 51.2702 3.34677 50.791 3.34677 50.2016V22.0821L3.02008 21.9276C1.87896 21.3877 1.1415 20.2269 1.1415 18.9703L1.141 9.53884C1.15482 9.47264 1.29153 9.36599 1.3623 9.36599C1.42177 9.36599 1.47022 9.41418 1.47022 9.47353V14.4482C1.47022 15.0342 1.58968 15.5393 1.81568 15.9091C2.07109 16.3267 2.4589 16.5664 2.88007 16.5664C3.56744 16.5664 4.30717 15.9035 4.30717 14.4483V9.47353C4.30717 9.41418 4.35575 9.36599 4.41535 9.36599C4.4747 9.36599 4.52289 9.41418 4.52289 9.47353V14.4669C4.52289 15.0472 4.6487 15.5511 4.88661 15.9236C5.1504 16.3369 5.54379 16.5738 5.96559 16.5737C6.63736 16.5735 7.36023 15.9377 7.36023 14.542V9.47353C7.36023 9.41418 7.40842 9.36599 7.46777 9.36599C7.5601 9.36599 7.66612 9.44182 7.68844 9.48482V18.9702H7.68818Z"/>
                                        <path d="M57.791 7.58887C55.3144 7.58887 54.1104 11.2892 54.1104 18.901C54.1104 21.0068 55.4401 28.0493 55.5816 28.7923V50.2018C55.5816 51.4204 56.5727 52.412 57.7912 52.412C59.0091 52.412 60.0002 51.4203 60.0002 50.2015V9.79845C59.9997 8.58009 59.009 7.58887 57.791 7.58887ZM58.8583 50.2015C58.8583 50.791 58.3796 51.2706 57.7907 51.2706C57.2017 51.2706 56.7226 50.7914 56.7226 50.202V28.6843L56.7124 28.6312C56.698 28.5547 55.2513 20.9702 55.2513 18.901C55.2513 15.719 55.4654 13.2252 55.8879 11.489C56.194 10.2304 56.7728 8.73024 57.791 8.73024C58.3797 8.73024 58.8585 9.20937 58.8585 9.79845L58.8583 50.2015Z"/>
                                    </g>
                                    <defs>
                                        <clippath id="clip0">
                                            <rect width="60" height="60" fill="white"/>
                                        </clippath>
                                    </defs>
                                </svg>
                            </span>
                            <span>
                                <svg viewbox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.91239 20.0318L3.00214 18.8779L6.82692 8.56809C7.47863 6.82664 9.1453 5.67279 11.0043 5.66211H38.3226C40.1816 5.66211 41.8483 6.82664 42.5 8.56809L46.2714 18.7497L47.8419 20.2027C49.2094 21.3672 50 23.0766 50 24.8715V39.8929C49.9893 42.3501 47.9915 44.3373 45.5342 44.3373H42.7137C40.2564 44.3373 38.2585 42.3501 38.2479 39.8929V37.7134H11.7521V39.8929C11.7415 42.3501 9.74359 44.3373 7.28633 44.3373H4.46581C2.00854 44.3373 0.010685 42.3501 0 39.8929V24.4762C0.010685 22.7989 0.694443 21.1963 1.91239 20.0318ZM40.4915 9.29459C40.1496 8.38647 39.2842 7.79886 38.3226 7.79886H10.9936C10.0321 7.79886 9.16667 8.39715 8.82479 9.29459L5.49145 18.2689H7.98077C8.56838 14.2625 12.297 11.4954 16.3034 12.0937C19.4979 12.5638 22.0085 15.0745 22.4786 18.2689H43.8248L40.4915 9.29459ZM10.1603 18.2689H20.3205C19.7329 15.4591 16.9765 13.6642 14.1667 14.2519C12.1581 14.6792 10.5876 16.2497 10.1603 18.2689ZM40.3846 39.8929C40.3953 41.1749 41.4316 42.2006 42.7137 42.2006H45.5342C46.8162 42.2006 47.8526 41.1749 47.8632 39.8929V37.0937C47.2222 37.5104 46.3782 37.7134 45.5342 37.7134H40.3846V39.8929ZM2.13675 39.8929C2.14743 41.1749 3.18376 42.2006 4.46581 42.2006H7.28633C8.56838 42.2006 9.6047 41.1642 9.61538 39.8929V37.7134H4.46581C3.62179 37.7134 2.77778 37.5104 2.13675 37.0937V39.8929ZM4.46581 35.5766H45.5342C46.8056 35.5873 47.8526 34.5724 47.8632 33.2903V24.8715C47.8632 23.6963 47.3397 22.5745 46.4423 21.816C46.4316 21.8053 46.4103 21.7839 46.3996 21.7732L44.9466 20.4057H4.48718L3.46154 21.5061C3.45086 21.5275 3.4188 21.5382 3.40812 21.5595C2.60684 22.3181 2.14743 23.3758 2.14743 24.4762V33.2903H2.13675C2.14743 34.5617 3.19444 35.5873 4.46581 35.5766Z"/>
                                    <path d="M35.8973 24.6797H43.9101C44.4977 24.6797 44.9785 25.1605 44.9785 25.7481V31.3036C44.9785 31.8912 44.4977 32.372 43.9101 32.372H35.8973C35.3097 32.372 34.8289 31.8912 34.8289 31.3036V25.7481C34.8289 25.1605 35.3097 24.6797 35.8973 24.6797ZM36.9657 30.2352H42.8418V26.8164H36.9657V30.2352Z"/>
                                    <path d="M6.0897 24.6797H14.1025C14.6901 24.6797 15.1709 25.1605 15.1709 25.7481V31.3036C15.1709 31.8912 14.6901 32.372 14.1025 32.372H6.0897C5.50209 32.372 5.02132 31.8912 5.02132 31.3036V25.7481C5.02132 25.1605 5.50209 24.6797 6.0897 24.6797ZM7.15807 30.2352H13.0341V26.8164H7.15807V30.2352Z"/>
                                    <path d="M19.8396 29.167H30.1601C30.7477 29.167 31.2285 29.6478 31.2285 30.2354C31.2285 30.823 30.7477 31.3037 30.1601 31.3037H19.8396C19.252 31.3037 18.7713 30.823 18.7713 30.2354C18.7713 29.6478 19.252 29.167 19.8396 29.167Z"/>
                                    <path d="M19.8396 25.8545H30.1601C30.7477 25.8545 31.2285 26.3353 31.2285 26.9229C31.2285 27.5105 30.7477 27.9912 30.1601 27.9912H19.8396C19.252 27.9912 18.7713 27.5105 18.7713 26.9229C18.7713 26.3353 19.252 25.8545 19.8396 25.8545Z"/>
                                </svg>

                            </span>
                        </div>
                        <div class="places">
                            <h4 id="categoria">Petshop - Veterinaria</h4>
                            <ul class="listado-general">
                                <li>
                                    <h5>Puppies Veterinaria</h5>
                                    <ol>
                                        <li>
                                            <img src="img/filter_place.svg" alt="">
                                            <p>Av. Maipú 1201 - Vicente López</p>

                                        </li>
                                        <li>
                                            <img src="img/filter_clock.svg" alt="">
                                            <p>Lun - Vier 9 a 20 hs / Sáb 9 a 13 hs</p>
                                        </li>
                                        <li>
                                            <img src="img/filter_phone.svg" alt="">
                                            <p>45001-5987</p>
                                        </li>
                                    </ol>

                                </li>
                                <li>
                                    <h5>Puppies Veterinaria</h5>
                                    <ol>
                                        <li>
                                            <img src="img/filter_place.svg" alt="">
                                            <p>Av. Maipú 1201 - Vicente López</p>

                                        </li>
                                        <li>
                                            <img src="img/filter_clock.svg" alt="">
                                            <p>Lun - Vier 9 a 20 hs / Sáb 9 a 13 hs</p>
                                        </li>
                                        <li>
                                            <img src="img/filter_phone.svg" alt="">
                                            <p>45001-5987</p>
                                        </li>
                                    </ol>

                                </li>
                                <li>
                                    <h5>Puppies Veterinaria</h5>
                                    <ol>
                                        <li>
                                            <img src="img/filter_place.svg" alt="">
                                            <p>Av. Maipú 1201 - Vicente López</p>

                                        </li>
                                        <li>
                                            <img src="img/filter_clock.svg" alt="">
                                            <p>Lun - Vier 9 a 20 hs / Sáb 9 a 13 hs</p>
                                        </li>
                                        <li>
                                            <img src="img/filter_phone.svg" alt="">
                                            <p>45001-5987</p>
                                        </li>
                                    </ol>

                                </li>
                                <li>
                                    <h5>Puppies Veterinaria</h5>
                                    <ol>
                                        <li>
                                            <img src="img/filter_place.svg" alt="">
                                            <p>Av. Maipú 1201 - Vicente López</p>

                                        </li>
                                        <li>
                                            <img src="img/filter_clock.svg" alt="">
                                            <p>Lun - Vier 9 a 20 hs / Sáb 9 a 13 hs</p>
                                        </li>
                                        <li>
                                            <img src="img/filter_phone.svg" alt="">
                                            <p>45001-5987</p>
                                        </li>
                                    </ol>

                                </li>
                                
                            </ul>
                        </div>

                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13149.8812113393!2d-58.48208835426809!3d-34.516310790273224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb14564a0bf09%3A0x7404f2a710e15fbd!2sPurina%20Pro%20Plan!5e0!3m2!1ses!2sar!4v1583261394515!5m2!1ses!2sar" width="100%" height="640" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>

            </div>
        </div>

    </section>
{% endblock content %}