<!-- index.nunjucks -->
{% extends "layout.njk"%}
{% set page_title = "Purina at Work | Novedades"%}}}
{% set page_description = "Conocé todas las novedades sobre PETS AT WORK"%}}}

{% block header %}
    {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('novedades')}}
{% endblock header %}

{% block content %}

    <section class="novedades bg-grey-l">
        <div class="container">
            <h2 class="titulos_secciones">Novedades</h2>
            <div class="all_novedades">

                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article.jpg')"></div>
                        <div class="body">
                            <a href="articulo.html">
                                <h4>¡Registrate en el programa de Pets At We Work!
                                </h4>
                            </a>
                            <p class="text">Registrate en el programa para empezar a traer a tu mascota a WeWork y disfrutar de beneficios exclusivos.</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article2.jpg')"></div>
                        <div class="body">
                            <a href="articulo.html">
                                <h4>¡Vení al After Dog Office el jueves 30 de enero!</h4>
                            </a>
                            <p class="text">El jueves 30 de enero nos juntamos en la terraza para festejar el inicio del programa. Los esperamos con bebidas, juegos y muchas sorpresas. ¡Vení con tu perro!</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article3.jpg')"></div>
                        <div class="body">
                            <a href="articulo.html">
                                <h4>Comprá alimento con descuento</h4>
                            </a>
                            <p class="text">Registrate en el programa y accedé a un 30% de descuento en la sucursal de Natural Life de Vicente López.</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article.jpg')"></div>
                        <div class="body">
                            <a href="articulo.html">
                                <h4>¡Registrate en el programa de Pets At We Work!
                                </h4>
                            </a>
                            <p class="text">Registrate en el programa para empezar a traer a tu mascota a WeWork y disfrutar de beneficios exclusivos.</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article2.jpg')"></div>
                        <div class="body">
                            <a href="articulo.html">
                                <h4>¡Vení al After Dog Office el jueves 30 de enero!</h4>
                            </a>
                            <p class="text">El jueves 30 de enero nos juntamos en la terraza para festejar el inicio del programa. Los esperamos con bebidas, juegos y muchas sorpresas. ¡Vení con tu perro!</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article3.jpg')"></div>
                        <div class="body">
                            <a href="articulo.html">
                                <h4>Comprá alimento con descuento</h4>
                            </a>
                            <p class="text">Registrate en el programa y accedé a un 30% de descuento en la sucursal de Natural Life de Vicente López.</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article.jpg')"></div>
                        <div class="body">
                            <a href="articulo.html">
                                <h4>¡Registrate en el programa de Pets At We Work!
                                </h4>
                            </a>
                            <p class="text">Registrate en el programa para empezar a traer a tu mascota a WeWork y disfrutar de beneficios exclusivos.</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article2.jpg')"></div>
                        <div class="body">
                            <a href="articulo.html">
                                <h4>¡Vení al After Dog Office el jueves 30 de enero!</h4>
                            </a>
                            <p class="text">El jueves 30 de enero nos juntamos en la terraza para festejar el inicio del programa. Los esperamos con bebidas, juegos y muchas sorpresas. ¡Vení con tu perro!</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="card">
                        <div class="top" style="background-image:url('img/article3.jpg')"></div>
                        <div class="body">
                            <a href="articulo.html">
                                <h4>Comprá alimento con descuento</h4>
                            </a>
                            <p class="text">Registrate en el programa y accedé a un 30% de descuento en la sucursal de Natural Life de Vicente López.</p>
                            <a href="articulo.html">
                                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.58331 8.58301V0.0830078H11.4166V8.58301H19.9166V11.4163H11.4166V19.9163H8.58331V11.4163H0.083313V8.58301H8.58331Z" fill="#E1393F"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </section>
{% endblock %}