{% extends 'layout.njk' %}

{% set page_title = "Purina at Work | Home"%}}}
{% set page_description = "Sumate al programa PETS AT WORK"%}}}

{% block header %}
    {% import 'macros/nav-macro.njk' as nav %}
    {{nav.active('sobre-el-programa')}}
{% endblock header %}

{% block content %}
    <section class="header" style="background-image:url('img/programa.jpg')"></section>
    <section class="programa">
        <div class="container">
            <div class="contenido">
                <h2 class="titulos_secciones">¡Sumate al programa!</h2>
                <p class="text ml-1">Registrarte en el programa para empezar a traer a tu mascota a We Work y disfrutar de beneficios exclusivos.</p>
                <a href="registro.html " class="btn_solid ml-1">¡Registrate!</a>
            </div>
            <div class="responsive-iframe-content bright">
                <div class="responsive-iframe-container">
                    <div id="poster-image">
                        <svg id="playVideo" viewbox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M34.5768 25.464L23.7792 17.464C23.3829 17.1712 22.8569 17.1271 22.4226 17.3546C21.9848 17.5804 21.7114 18.0389 21.7114 18.5345V34.5292C21.7114 35.0301 21.9848 35.4869 22.4226 35.7127C22.6077 35.8079 22.8102 35.8555 23.0144 35.8555C23.2808 35.8555 23.5508 35.7691 23.7792 35.598L34.5768 27.6051C34.9177 27.3493 35.1167 26.9543 35.1167 26.5345C35.1184 26.1077 34.9143 25.7144 34.5768 25.464Z" fill="#E1393F"/>
                            <path d="M26.0009 0.00390625C11.6386 0.00390625 0 11.8663 0 26.5048C0 41.1379 11.6386 52.9968 26.0009 52.9968C40.3597 52.9968 52 41.1362 52 26.5048C52.0017 11.8663 40.3597 0.00390625 26.0009 0.00390625ZM26.0009 48.5753C14.0404 48.5753 4.34328 38.697 4.34328 26.5048C4.34328 14.3178 14.0404 4.42719 26.0009 4.42719C37.9596 4.42719 47.655 14.3161 47.655 26.5048C47.6567 38.697 37.9596 48.5753 26.0009 48.5753Z" fill="#E1393F"/>
                        </svg>
                    </div>
                    <div id="player"></div>

                </div>
            </div>

        </div>
    </section>
    <section class="manual bg-grey-l">
        <div class="container">
            <div class="row">

                <div class="contenido">
                    <h3 class="subtitulos_secciones">¿Sabías que tu
                        <span>mascota</span>
                        puede venir a trabajar con vos?
                    </h3>
                    <p class="text">Nuestras oficinas son Pet Friendly, así que estamos esperando a todos sus amigos de cuatro patas. Con Pets at We Work Powered by Purina, vas a poder acceder a beneficios y enterarte de todas los eventos y sorpresas que tenemos preparadas.
                    </p>
                    <a href="#" class="btn_solid" download="download">Descargá el manual</a>
                </div>
                <div class="background" style="background-image: url('img/programa_manual.jpg');"></div>
            </div>
        </div>

    </section>
    <section class="tips_work">
        <div class="container ">
            <h3 class="subtitulos_secciones ml-1">¿Por qué traer a las
                <span>mascotas</span>
                al trabajo?
            </h3>
            <div class="row ml-1">

                <ul>
                    <li>
                        <img src="img/ico_mascotas_01.svg" alt="">
                        <p>
                            <strong>Balance saludable
                            </strong>entre vida laboral y vida personal</p>
                    </li>
                    <li>
                        <img src="img/ico_mascotas_02.svg" alt="">
                        <p>
                            <strong>Mayor colaboración</strong>
                            y comportamiento ético</p>
                    </li>
                    <li>
                        <img src="img/ico_mascotas_03.svg" alt="">
                        <p>
                            <strong>Elimina
                            </strong>el estrés</p>
                    </li>
                    <li>
                        <img src="img/ico_mascotas_04.svg" alt="">
                        <p>
                            <strong>Mayor satisfacción
                            </strong>laboral</p>
                    </li>
                    <li>
                        <img src="img/ico_mascotas_05.svg" alt="">
                        <p>
                            <strong>Mayor interacción
                            </strong>entre los colaboradores</p>
                    </li>
                </ul>
                <div class="background">
                    <img src="img/tips.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="quote bg-grey-l">
        <div class="container">
            <div class="row">
                <p class="text">
                    <strong>
                        8 de cada 10 empleados</strong>
                    que trabajan en un ambiente pet friendly maniﬁestan que traer sus mascotas al trabajo los hace más
                    <strong>felices, relajados y sociables.</strong>
                </p>
                <div class="background" style="background-image:url('img/quote.jpg')"></div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block scripts %}
    <script>

        // PLAY VIDEO

        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag
            .parentNode
            .insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;

        function onYouTubeIframeAPIReady() {
            var play = document.getElementById('playVideo')
            play.addEventListener('click', () => {
                document
                    .querySelector('#poster-image')
                    .style
                    .display = "none";
                play.style.display = "none";
                player = new YT.Player('player', {
                    videoId: 'EKhjZjs_7uQ',
                    events: {
                        'onReady': onPlayerReady
                    },
                    playerVars: {
                        'autoplay': 1,
                        'controls': 1,
                        'rel': 0
                    }
                });
            })

        }

        // 4. The API will call this function when the video player is ready.

        function onPlayerReady(event) {
            event
                .target
                .playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
        }

        function stopVideo() {
            player.stopVideo();
        }
    </script>
{% endblock scripts %}