{% macro active(activePage = 'novedades') %}
<header>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="index.html" class="logo"><img src="img/logo_purina.png" alt=""></a>
            <span id="menulinks">
                {# <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> #}
                <a href="novedades.html" class="{%if activePage == 'novedades' %} active {%endif%}">Novedades</a>
                <a href="sobre-el-programa.html" class="{%if activePage == 'sobre-el-programa' %} active {%endif%}">Sobre el programa</a>
                <a href="beneficios.html" class="{%if activePage == 'beneficios' %} active {%endif%}">Beneficios</a>
                <a href="mapa-pet-friendly.html" class="{%if activePage == 'mapa-pet-friendly' %} active {%endif%}">Mapa Pet Friendly</a>
                <a href="contacto.html" class="{%if activePage == 'contacto' %} active {%endif%}">Contacto</a>
                <a href="" class="{%if activePage == 'registrate' %} active {%endif%}">¡Registrate!</a>
            </span>

            <a href="javascript:void(0);" id="click" class="icon " onclick="openNav()">
                <img src="img/menu.svg" alt="">
            </a>
            {# <a href="javascript:void(0);" class="icon close" onclick="closeNav()">
            &times;
        </a> #}
        </div>
    </nav>
</header>
{% endmacro %}