<footer>
    <div class="container">
        <div class="footer_links">
            <img src="img/logo_purina_w.png" alt="">
            <ul class="links">
                <li>
                    <a href="sobre-el-programa.html">Sobre el programa</a>
                </li>
                <li>
                    <a href="novedades.html">Novedades</a>
                </li>
                <li>
                    <a href="beneficios.html">Beneficios</a>
                </li>
                <li>
                    <a href="mapa-pet-friendly.html">Mapa Pet Friendly</a>
                </li>
                <li>
                    <a href="contacto.html">Contacto</a>
                </li>
                <li>
                    <a href="#">¡Registrate!</a>
                </li>
            </ul>
        </div>
         <hr>
        <div class="footer_marcas">
            <img src="img/logo_puriina.png" alt="logo purina">
            <img src="img/logo_dogchow.png" alt="logo dogchow">
            <img src="img/logo_catchow.png" alt="logo catchow">
            <img src="img/logo_proplan.png" alt="logo proplan">
            <img src="img/logo_felix.png" alt="logo felix">
            <img src="img/logo_excellent.png" alt="logo excellent">
            <img src="img/logo_whole.png" alt="logo whole">
        </div>
       

    </div>
</footer>

<script type="text/javascript" src="js/tail.datetime.min.js"></script>
<script type="text/javascript" src="js/tail.datetime-es_MX.js"></script>
<script type="text/javascript" src="js/siema.min.js"></script>
<script type="text/javascript" src="js/events.js"></script>