<!-- navigation -->

<nav>
    <div class="topnav" id="myTopnav">
        <a href="index.html" class="logo"><img src="img/logo_purina.png" alt=""></a>
        <span id="menulinks">
            {# <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> #}
            <a href="novedades.html">Novedades</a>
            <a href="">Sobre el programa</a>
            <a href="">Beneficios</a>
            <a href="">Mapa Pet Friendly</a>
            <a href="">Contacto</a>
            <a href="">¡Registrate!</a>
        </span>

        <a href="javascript:void(0);" id="click" class="icon " onclick="openNav()">
            <img src="img/menu.svg" alt="">
        </a>
        {# <a href="javascript:void(0);" class="icon close" onclick="closeNav()">
            &times;
        </a> #}
    </div>
</nav>